

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<ul class="filterData">
    <li>
        <strong>Show:</strong>
        <input checked="true" type="checkbox" value="one"/>
        <label>One</label>
    </li>
    <li>
        <input checked="true" type="checkbox" value="two"/>
        <label>Two</label>
    </li>
    <li>
        <input checked="true" type="checkbox" value="three"/>
        <label>Three</label>
    </li>
</ul>
<ul id="dataList">
    {{#listData}}
    <li data-category="{{this.category}}">{{this.headline}}</li>
    {{/listData}}
</ul>
