<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Read up some of the <a href="/news/">news</a>.</p>
    <p>Here are a few <a href="/members/">members</a>.</p>
  </body>
</html>
