#list div {
    display: flex;
    flex-wrap: wrap;
}

.post {
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: #222;
    color: #aaa;
    border-left: solid 1px #333;
    border-right: solid 1px #333;
}

.email {
    padding-right: 100px;
    overflow-x: hidden;
}

.img {
    border-radius: 15px;
    height: 80px;
    width: 80px;
    padding: 10px;
}