@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
body{
  font-family: 'Slabo 27px', serif;
  color: #ccc;
  background-color: #333;
}

h1 {
    padding-left: 20px;
}

h2 {
    font-size: 18pt;
}

li {
    list-style-type: none;
}

a {
  color: #00B7FF;
}

a.linkonblack {
  color: #00CCFF;
}
