@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
body{
    padding: 0;
    font-family: 'Slabo 27px', serif;
    color: #ccc;
    background-color: #333;
}

h1 {
    padding-left: 20px;
}

h2 {
    font-size: 18pt;
}

li {
    list-style-type: none;
}

a {
    color: #00B7FF;
}

a.linkonblack {
    color: #00CCFF;
}

#navbar > div > a {
    color: #999;
    font-size: 24px;
    text-align: center;
}
#navbar > div > a > div {
    background-color: #444;
    border-left: solid 1px #333;
    border-right: solid 1px #333;
}
#navbar > div > a > div:hover{
    background-color: #666;
    border-left: solid 1px #333;
    border-right: solid 1px #333;
}
.here {
    color: white;
    background-color: #555;
}
.here:hover{
    background-color: #777;
}
